In [4]:
#Dependencies
import pandas as pd
import os

In [5]:
#path to collect csv
file_path = os.path.join('Covid-19_tests.csv')
#read in csv
C19_df = pd.read_csv(file_path)
C19_df.head(5)

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,11/12/2020,0,0,0,0,0,negative,No,male,Other
1,11/12/2020,0,1,0,0,0,negative,No,male,Other
2,11/12/2020,0,0,0,0,0,negative,Yes,female,Other
3,11/12/2020,0,0,0,0,0,negative,No,male,Other
4,11/12/2020,0,1,0,0,0,negative,No,male,Contact with confirmed

In [6]:
C19_df['test_indication'].unique()

array(['Other', 'Contact with confirmed', 'Abroad'], dtype=object)

In [7]:
#replace 3 word value to 1 word value
C19_df2 = C19_df.replace('Contact with confirmed', 'Contact')
C19_df2['test_indication'].unique()

array(['Other', 'Contact', 'Abroad'], dtype=object)

In [8]:
C19_df3 = C19_df2.rename(columns={'corona_result':'covid_result'})
C19_df3

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,covid_result,age_60_and_above,gender,test_indication
0,11/12/2020,0,0,0,0,0,negative,No,male,Other
1,11/12/2020,0,1,0,0,0,negative,No,male,Other
2,11/12/2020,0,0,0,0,0,negative,Yes,female,Other
3,11/12/2020,0,0,0,0,0,negative,No,male,Other
4,11/12/2020,0,1,0,0,0,negative,No,male,Contact
...,...,...,...,...,...,...,...,...,...,...
1048570,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048571,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048572,9/10/2020,0,0,0,0,0,negative,No,male,Other
1048573,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048574,9/10/2020,0,0,0,0,0,negative,Yes,male,Other

In [88]:
C19_df3=C19_df3.dropna()
C19_df3

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,covid_result,age_60_and_above,gender,test_indication
0,11/12/2020,0,0,0,0,0,negative,No,male,Other
1,11/12/2020,0,1,0,0,0,negative,No,male,Other
2,11/12/2020,0,0,0,0,0,negative,Yes,female,Other
3,11/12/2020,0,0,0,0,0,negative,No,male,Other
4,11/12/2020,0,1,0,0,0,negative,No,male,Contact
...,...,...,...,...,...,...,...,...,...,...
1048570,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048571,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048572,9/10/2020,0,0,0,0,0,negative,No,male,Other
1048573,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048574,9/10/2020,0,0,0,0,0,negative,Yes,male,Other

In [89]:
C19_df3.dtypes

test_date              object
cough                   int64
fever                   int64
sore_throat             int64
shortness_of_breath     int64
head_ache               int64
covid_result           object
age_60_and_above       object
gender                 object
test_indication        object
dtype: object

In [90]:
selected_features = C19_df3[["cough","fever","sore_throat","shortness_of_breath","head_ache","age_60_and_above", "gender","test_indication"]]

In [91]:
selected_features.loc[selected_features['test_indication'] == 'Abroad']

,cough,fever,sore_throat,shortness_of_breath,head_ache,age_60_and_above,gender,test_indication
29,1,1,0,0,0,No,female,Abroad
38,0,0,0,1,0,Yes,male,Abroad
54,0,0,0,0,0,No,male,Abroad
56,1,1,0,0,0,No,male,Abroad
61,1,0,0,0,0,No,male,Abroad
...,...,...,...,...,...,...,...,...
1042065,0,0,1,0,0,No,male,Abroad
1044701,0,0,0,0,0,No,male,Abroad
1044713,1,0,0,0,0,No,male,Abroad
1044715,1,0,0,0,0,No,male,Abroad
1044716,1,0,0,0,0,No,male,Abroad

In [92]:
selected_features_convert=(selected_features)
selected_features_convert.head()

,cough,fever,sore_throat,shortness_of_breath,head_ache,age_60_and_above,gender,test_indication
0,0,0,0,0,0,No,male,Other
1,0,1,0,0,0,No,male,Other
2,0,0,0,0,0,Yes,female,Other
3,0,0,0,0,0,No,male,Other
4,0,1,0,0,0,No,male,Contact

In [93]:
selected_features["age_60_and_above"]=selected_features.age_60_and_above.astype('category')
selected_features["gender"]=selected_features.gender.astype('category')
selected_features["test_indication"]=selected_features.test_indication.astype('category')

<ipython-input-93-843358bc7f1f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_features["age_60_and_above"]=selected_features.age_60_and_above.astype('category')
<ipython-input-93-843358bc7f1f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_features["gender"]=selected_features.gender.astype('category')
<ipython-input-93-843358bc7f1f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_features["test_indication"]=selected_features.test_indication.astype('category')

In [94]:
cat_columns = selected_features.select_dtypes(['category']).columns
cat_columns

Index(['age_60_and_above', 'gender', 'test_indication'], dtype='object')

In [95]:
selected_features.dtypes

cough                     int64
fever                     int64
sore_throat               int64
shortness_of_breath       int64
head_ache                 int64
age_60_and_above       category
gender                 category
test_indication        category
dtype: object

In [96]:
selected_features[cat_columns] = selected_features[cat_columns].apply(lambda x: x.cat.codes)

C:\Users\Chris\anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [97]:
selected_features.head()

,cough,fever,sore_throat,shortness_of_breath,head_ache,age_60_and_above,gender,test_indication
0,0,0,0,0,0,0,1,2
1,0,1,0,0,0,0,1,2
2,0,0,0,0,0,1,0,2
3,0,0,0,0,0,0,1,2
4,0,1,0,0,0,0,1,1

In [106]:
selected_features.loc[selected_features['test_indication'] == 0]

,cough,fever,sore_throat,shortness_of_breath,head_ache,age_60_and_above,gender,test_indication
29,1,1,0,0,0,0,0,0
38,0,0,0,1,0,1,1,0
54,0,0,0,0,0,0,1,0
56,1,1,0,0,0,0,1,0
61,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
1042065,0,0,1,0,0,0,1,0
1044701,0,0,0,0,0,0,1,0
1044713,1,0,0,0,0,0,1,0
1044715,1,0,0,0,0,0,1,0
1044716,1,0,0,0,0,0,1,0

In [103]:
selected_features['age_60_and_above'].unique()

array([0, 1], dtype=int8)

In [104]:
selected_features['gender'].unique()

array([1, 0], dtype=int8)

In [105]:
selected_features['test_indication'].unique()

array([2, 1, 0], dtype=int8)

In [13]:
target=C19_df3["covid_result"]
target.head()

0    negative
1    negative
2    negative
3    negative
4    negative
Name: covid_result, dtype: object

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(selected_features, target, random_state=42, stratify=target)

In [16]:
X_train.head()

,cough,fever,sore_throat,shortness_of_breath,head_ache,age_60_and_above,gender,test_indication
447548,0,1,0,0,0,No,male,Contact
976273,0,0,0,0,0,No,male,Other
182142,0,0,0,0,0,No,male,Other
347090,0,0,0,0,0,Yes,female,Other
998295,0,0,0,0,0,Yes,male,Other

In [17]:
# Scale your data
from sklearn.preprocessing import MinMaxScaler
X_scaler = MinMaxScaler().fit(X_train)

ValueError: could not convert string to float: 'No'