In [1]:
#Dependencies
import pandas as pd
import os

In [4]:
#path to collect csv
file_path = os.path.join('Covid-19_tests.csv')
#read in csv
C19_df = pd.read_csv(file_path)
C19_df.head(5)

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,11/12/2020,0,0,0,0,0,negative,No,male,Other
1,11/12/2020,0,1,0,0,0,negative,No,male,Other
2,11/12/2020,0,0,0,0,0,negative,Yes,female,Other
3,11/12/2020,0,0,0,0,0,negative,No,male,Other
4,11/12/2020,0,1,0,0,0,negative,No,male,Contact with confirmed

In [5]:
C19_df['test_indication'].unique()

array(['Other', 'Contact with confirmed', 'Abroad'], dtype=object)

In [8]:
#replace 3 word value to 1 word value
C19_df2 = C19_df.replace('Contact with confirmed', 'Contact')
C19_df2['test_indication'].unique()

array(['Other', 'Contact', 'Abroad'], dtype=object)

In [11]:
C19_df3 = C19_df2.rename(columns={'corona_result':'covid_result'})
C19_df3

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,covid_result,age_60_and_above,gender,test_indication
0,11/12/2020,0,0,0,0,0,negative,No,male,Other
1,11/12/2020,0,1,0,0,0,negative,No,male,Other
2,11/12/2020,0,0,0,0,0,negative,Yes,female,Other
3,11/12/2020,0,0,0,0,0,negative,No,male,Other
4,11/12/2020,0,1,0,0,0,negative,No,male,Contact
...,...,...,...,...,...,...,...,...,...,...
1048570,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048571,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048572,9/10/2020,0,0,0,0,0,negative,No,male,Other
1048573,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048574,9/10/2020,0,0,0,0,0,negative,Yes,male,Other

In [13]:
C19_df3.dtypes

test_date              object
cough                   int64
fever                   int64
sore_throat             int64
shortness_of_breath     int64
head_ache               int64
covid_result           object
age_60_and_above       object
gender                 object
test_indication        object
dtype: object