In [1]:
#Dependencies
import pandas as pd
import os

In [2]:
#path to collect csv
file_path = os.path.join('Covid-19_tests.csv')
#read in csv
C19_df = pd.read_csv(file_path)
C19_df.head(5)
#0=False, 1=True

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,11/12/2020,0,0,0,0,0,negative,No,male,Other
1,11/12/2020,0,1,0,0,0,negative,No,male,Other
2,11/12/2020,0,0,0,0,0,negative,Yes,female,Other
3,11/12/2020,0,0,0,0,0,negative,No,male,Other
4,11/12/2020,0,1,0,0,0,negative,No,male,Contact with confirmed

In [3]:
C19_df['test_indication'].unique()

array(['Other', 'Contact with confirmed', 'Abroad'], dtype=object)

In [4]:
#replace 3 word value to 1 word value
C19_df2 = C19_df.replace('Contact with confirmed', 'Contact')
C19_df2['test_indication'].unique()

array(['Other', 'Contact', 'Abroad'], dtype=object)

In [5]:
C19_df3 = C19_df2.rename(columns={'corona_result':'covid_result'})
C19_df3

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,covid_result,age_60_and_above,gender,test_indication
0,11/12/2020,0,0,0,0,0,negative,No,male,Other
1,11/12/2020,0,1,0,0,0,negative,No,male,Other
2,11/12/2020,0,0,0,0,0,negative,Yes,female,Other
3,11/12/2020,0,0,0,0,0,negative,No,male,Other
4,11/12/2020,0,1,0,0,0,negative,No,male,Contact
...,...,...,...,...,...,...,...,...,...,...
1048570,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048571,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048572,9/10/2020,0,0,0,0,0,negative,No,male,Other
1048573,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048574,9/10/2020,0,0,0,0,0,negative,Yes,male,Other

In [6]:
C19_df3=C19_df3.dropna()
C19_df3

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,covid_result,age_60_and_above,gender,test_indication
0,11/12/2020,0,0,0,0,0,negative,No,male,Other
1,11/12/2020,0,1,0,0,0,negative,No,male,Other
2,11/12/2020,0,0,0,0,0,negative,Yes,female,Other
3,11/12/2020,0,0,0,0,0,negative,No,male,Other
4,11/12/2020,0,1,0,0,0,negative,No,male,Contact
...,...,...,...,...,...,...,...,...,...,...
1048570,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048571,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048572,9/10/2020,0,0,0,0,0,negative,No,male,Other
1048573,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048574,9/10/2020,0,0,0,0,0,negative,Yes,male,Other

In [7]:
C19_df3=C19_df3[C19_df3.covid_result != "other"]
C19_df3

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,covid_result,age_60_and_above,gender,test_indication
0,11/12/2020,0,0,0,0,0,negative,No,male,Other
1,11/12/2020,0,1,0,0,0,negative,No,male,Other
2,11/12/2020,0,0,0,0,0,negative,Yes,female,Other
3,11/12/2020,0,0,0,0,0,negative,No,male,Other
4,11/12/2020,0,1,0,0,0,negative,No,male,Contact
...,...,...,...,...,...,...,...,...,...,...
1048570,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048571,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048572,9/10/2020,0,0,0,0,0,negative,No,male,Other
1048573,9/10/2020,0,0,0,0,0,negative,No,female,Other
1048574,9/10/2020,0,0,0,0,0,negative,Yes,male,Other

In [8]:
C19_df3['covid_result'].unique()

array(['negative', 'positive'], dtype=object)

In [9]:
C19_df3.dtypes

test_date              object
cough                   int64
fever                   int64
sore_throat             int64
shortness_of_breath     int64
head_ache               int64
covid_result           object
age_60_and_above       object
gender                 object
test_indication        object
dtype: object

In [10]:
selected_features = C19_df3[["cough","fever","sore_throat","shortness_of_breath","head_ache","age_60_and_above", "gender","test_indication"]]

In [11]:
selected_features.loc[selected_features['test_indication'] == 'Abroad']

,cough,fever,sore_throat,shortness_of_breath,head_ache,age_60_and_above,gender,test_indication
29,1,1,0,0,0,No,female,Abroad
38,0,0,0,1,0,Yes,male,Abroad
54,0,0,0,0,0,No,male,Abroad
56,1,1,0,0,0,No,male,Abroad
61,1,0,0,0,0,No,male,Abroad
...,...,...,...,...,...,...,...,...
1042065,0,0,1,0,0,No,male,Abroad
1044701,0,0,0,0,0,No,male,Abroad
1044713,1,0,0,0,0,No,male,Abroad
1044715,1,0,0,0,0,No,male,Abroad
1044716,1,0,0,0,0,No,male,Abroad

In [12]:
selected_features["age_60_and_above"]=selected_features.age_60_and_above.astype('category')
selected_features["gender"]=selected_features.gender.astype('category')
selected_features["test_indication"]=selected_features.test_indication.astype('category')

<ipython-input-12-843358bc7f1f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_features["age_60_and_above"]=selected_features.age_60_and_above.astype('category')
<ipython-input-12-843358bc7f1f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_features["gender"]=selected_features.gender.astype('category')
<ipython-input-12-843358bc7f1f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_features["test_indication"]=selected_features.test_indication.astype('category')

In [13]:
cat_columns = selected_features.select_dtypes(['category']).columns
cat_columns

Index(['age_60_and_above', 'gender', 'test_indication'], dtype='object')

In [14]:
selected_features.dtypes

cough                     int64
fever                     int64
sore_throat               int64
shortness_of_breath       int64
head_ache                 int64
age_60_and_above       category
gender                 category
test_indication        category
dtype: object

In [15]:
selected_features[cat_columns] = selected_features[cat_columns].apply(lambda x: x.cat.codes)

C:\Users\Chris\anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [16]:
selected_features.head()

,cough,fever,sore_throat,shortness_of_breath,head_ache,age_60_and_above,gender,test_indication
0,0,0,0,0,0,0,1,2
1,0,1,0,0,0,0,1,2
2,0,0,0,0,0,1,0,2
3,0,0,0,0,0,0,1,2
4,0,1,0,0,0,0,1,1

In [17]:
selected_features.loc[selected_features['test_indication'] == 2]

,cough,fever,sore_throat,shortness_of_breath,head_ache,age_60_and_above,gender,test_indication
0,0,0,0,0,0,0,1,2
1,0,1,0,0,0,0,1,2
2,0,0,0,0,0,1,0,2
3,0,0,0,0,0,0,1,2
5,1,0,0,0,0,0,1,2
...,...,...,...,...,...,...,...,...
1048570,0,0,0,0,0,0,0,2
1048571,0,0,0,0,0,0,0,2
1048572,0,0,0,0,0,0,1,2
1048573,0,0,0,0,0,0,0,2
1048574,0,0,0,0,0,1,1,2

In [18]:
selected_features['age_60_and_above'].unique()
#0=No, 1=Yes

array([0, 1], dtype=int8)

In [19]:
selected_features['gender'].unique()
#0=Female, 1=Male

array([1, 0], dtype=int8)

In [20]:
selected_features['test_indication'].unique()
#0=Abroad, 1=Contact, 2=Other

array([2, 1, 0], dtype=int8)

In [21]:
target=C19_df3["covid_result"]
target.head()

0    negative
1    negative
2    negative
3    negative
4    negative
Name: covid_result, dtype: object

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(selected_features, target, random_state=42, stratify=target)

In [23]:
X_train.head()

,cough,fever,sore_throat,shortness_of_breath,head_ache,age_60_and_above,gender,test_indication
45347,0,0,0,0,0,0,1,2
1012056,0,0,0,0,0,0,1,2
422741,0,0,0,0,0,0,0,2
429386,0,0,0,0,0,1,0,2
617620,0,0,0,0,0,1,0,2

In [24]:
# Scale your data
from sklearn.preprocessing import MinMaxScaler
X_scaler = MinMaxScaler().fit(X_train)

In [25]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [26]:
#Train model
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train_scaled, y_train)

SVC(kernel='linear')

In [27]:
print(f"Training Data Score: {model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

Training Data Score: 0.916336566880465
Testing Data Score: 0.9164186670155013

In [28]:
# Calculate classification report for SVC
from sklearn.metrics import classification_report
predictions = model.predict(X_test_scaled)
print(classification_report(y_test, predictions,
                            target_names=["negative", "positive"]))

              precision    recall  f1-score   support

    negative       0.92      0.99      0.95    218866
    positive       0.74      0.31      0.44     25758

    accuracy                           0.92    244624
   macro avg       0.83      0.65      0.70    244624
weighted avg       0.91      0.92      0.90    244624

In [29]:
#Save the model
import joblib
filename = 'SVC_model.sav'
joblib.dump(model, filename)

['SVC_model.sav']